body {
	background-color: black;
	color: white;
}

*{
	font-family: DotGothic16;
}

header {
	font-size: 50px;
}

nav{
	font-size: 48px;
}

nav .navlink {
	font-size: 0.6em;
}

a {
  color: white;
  text-decoration: none;
}


article{
	box-sizing: border-box;
	
}

.center{
  text-align: center;
  margin: auto;
  width: 50%;
}

.front-title {
	text-align: center;
	font-size: 6em;
	margin-top: 5%;
}

.frontnav{
  font-size: 74px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
  justify-content: center;
}

.frontnav img {
	margin: auto 20px;
}

.front-link {
	border: solid;
	border-radius: 5px;
	box-shadow: 4px 4px 0px 0px gray;
	width: 400px;
	margin: 10px 10px;
}

.front-link:hover {
	position: relative;
	top: -4px;
	left: -4px;
	box-shadow: 10px 10px 0px 0px gray;
	text-decoration: none;
}

.front-link a:hover{
	text-decoration: none;
}

.frontnav a {
	image-rendering: pixelated;
}

.blog-list{
	font-size: 36px;
	border: solid;
	border-radius: 5px;
	box-shadow: 4px 4px 0px 0px gray;
	margin: 5% 25%;
}

.link-list{
	font-size: 36px;
	border: solid;
	border-radius: 5px;
	box-shadow: 4px 4px 0px 0px gray;
	margin: 5% 25%;
}

.link-list li {
	margin: auto 40%;
}

.link-list p{
	text-align: center;
}

a:hover{
	text-decoration: underline;
}

.blog-post {
	border: solid;
	border-radius: 5px;
	box-shadow: 4px 4px 0px 0px gray;
	max-width: 800px;
	font-size: 1.75em;
	margin: 5% 25%;
	padding: 1%;
}

.blog-post h2{
	text-align: center;
}



.blog-post a{
	color: rgb(60, 104, 185);
}

.blog-post img {
 width: 100%;
}

.blog-post figcaption {
	font-size: 0.6em;
}