body {
	background-color: black;
	color: white;
}

header {
	font-family: DotGothic16;
	font-size: 50px;
	text-align: center;
}

p {
	font-family: DotGothic16;
	font-size: 40px;
	border: solid;
	border-radius: 5px;
	box-shadow: 4px 4px 0px 0px gray;
	text-align: center;
}



a {
  color: white;
  text-decoration: none;
}

article{
	box-sizing: border-box;
	margin: auto;
	width: 50%;
}